html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*subcard*/
.subCard {
    border: 5px double dodgerblue;
    text-align: center;
    border-radius: 100px;
    font-size: 1.2em
}

.subCardBody {
    border: 5px double dodgerblue;
    border-radius: 60px;
    padding: 5px;
    color: black;
}