@model IEnumerable<Subscription>



@foreach (var item in Model)
{
    <h1><span class="TitleLine">Child Subscriptions</span></h1>
    <br />

    <div class="row">
        @foreach (var subscription in Model)
        {
            <div class="col-md-4">
                <div class="subCard card">
                    <div class="subCardBody card-body">
                        <h4 class="card-title"><b>@subscription.SubscriptionType.Name</b></h4>
                        <p class="card-text">Created at: @subscription.CreatedAt.ToString("yyyy/MM/dd")</p>
                        <p class="card-text">Expires at: @subscription.ExpireAt.ToString("yyyy/MM/dd")</p>
                        <p class="card-text">Price: @subscription.SubscriptionType.Price </p>
                        @if (subscription.IsActive == true)
                        {
                            <p class="card-text">Status: <span style="color:#12b800"><b>Active</b></span></p>
                        }
                        else
                        {
                            <p class="card-text">Status: <span style="color:#ff0000"><b>Expired</b></span></p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <br />


}
